{% extends 'intranet.html.twig' %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="./public/js/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css" />
{% endblock %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
	<li class="active">Ajouter une formation</li>
</ol>

<h2 class="titre_rubrique">Ajouter une formation</h2>

<form action="index.php?uc=formation&action=ajout" method="POST">

	<div class="form-group">
		<label for="code">Code</label>
		<input class="form-control" type="text" id="code_formation" name="code_formation" />
	</div>
	<div class="form-group">
		<label for="mention">Mention</label>
		<input class="form-control" type="text" id="mention" name="mention" />
	</div>
	<div class="form-group">
		<label>Ouverte</label>
		<div class="radio">
			<label for="ouverte_oui">
				<input type="radio" id="ouverte_oui" name="ouverte" value="1" checked /> Oui
			</label>
		</div>
		<div class="radio">
			<label for="ouverte_non">
				<input type="radio" id="ouverte_non" name="ouverte" value="0" /> Non
			</label>
		</div>
	</div>
	<div class="form-group">
		<label for="modalites">Modalités</label>
		<textarea class="form-control" id="modalites" name="modalites"></textarea>
	</div>
	<div class="form-group">
		<label for="faculte">Faculté</label>
		<select class="form-control" id="faculte" name="faculte">
			{% for faculte in facultes %}
			<option value="{{ faculte.id}}">{{ faculte.nom}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="langue">Langue</label>
		<select class="form-control" id="langue" name="langue">
			{% for langue in langues %}
			<option value="{{ langue.id}}">{{ langue.nom}}</option>
			{% endfor %}
		</select>
	</div>
	<button class="btn btn-primary" type="submit">
		<span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
	</button>
</form>

{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="./public/js/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
	tinymce.init({selector:'textarea'});
</script>
{% endblock %}