{% extends 'intranet.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="index.php?uc=intranet&action">Accueil</a></li>
        <li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
        <li class="active">Fiche formation</li>
    </ol>

    <h2 class="titre_rubrique">Fiche formation : {{ formation.mention }} </h2>

    <button data-html="true" title="<p>En fonction des droits accordés à votre type de compte, vous pouvez ici gérer
            la formation en ajoutant des étape à la formation, des dossiers de candidatures/préinscription, éditer le
            logo de la formation qui appraraît sur les dossiers, et générer la synthèse Excel des candidatures/préinscription.</p>"
            data-placement="left" data-toggle="tooltip" class="btn btn-lg btn-info pull-right">
        <span class="glyphicon glyphicon-question-sign"></span> Aide
    </button>

    <p class="text-muted">Code</p>
    <p class="text-info">{{ formation.codeformation }}</p>
    <p class="text-muted">Mention</p>
    <p class="text-info">{{ formation.mention }}</p>
    <p class="text-muted">Faculté</p>
    <p class="text-info">
        {% for faculte in facultes %}
            {% if formation.faculte == faculte.id %}
                {{ faculte.nom }}
            {% endif %}
        {% endfor %}
    </p>
    <hr/>
    <a href="index.php?uc=formation&action=grille" class="btn btn-primary">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
    </a>
    {% if session.grade > 1 %}
        <a href="index.php?uc=formation&action=modifier&code={{ formation.codeformation }}" class="btn btn-warning">
            <span class="glyphicon glyphicon-edit"></span> Modifier
        </a>
    {% endif %}
    {% if session.grade > 2 %}
        <a href="index.php?uc=formation&action=suppression&code={{ formation.codeformation }}" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> Supprimer
        </a>
    {% endif %}
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            Gestion de la formation <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="index.php?uc=voeu&action=grille&code={{ formation.codeformation }}">
                    <span class="glyphicon glyphicon-briefcase"></span> Gérer les étapes
                </a>
            </li>
            <li>
                <a href="index.php?uc=formation&action=logoDossierPdf&code={{ formation.codeFormation }}&mention={{ formation.mention }}">
                    <span class="glyphicon glyphicon-picture"></span> Gérer le logo
                </a>
            </li>
            <li>
                <a href="index.php?uc=dossierPdf&action=grille&code={{ formation.codeformation }}">
                    <span class="glyphicon glyphicon-paperclip"></span> Gérer les dossiers
                </a>
            </li>
            <li>
                <a href="index.php?uc=formation&action=syntheseCsv&code={{ formation.codeformation }}">
                    <span class="glyphicon glyphicon-list"></span> Synthèse Excel
                </a>
            </li>
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Attention !</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sûr(e) de vouloir réaliser cette action ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnOk">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('button[data-toggle="tooltip"]').tooltip();
            $('.btn-danger').click(function () {
                $('#myModal').modal('show');
                return false;
            });
            $('#btnOk').click(function () {
                window.location.href = $('.btn-danger').attr("href");
            });
        });
    </script>
{% endblock %}

