{% extends 'intranet.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="index.php?uc=intranet&action">Accueil</a></li>
        <li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
        <li class="active">Fiche formation</li>
    </ol>

    <h2 class="titre_rubrique">Fiche formation : {{ formation.mention }} </h2>

    <p class="text-muted">Code</p>
    <p class="text-info">{{ formation.codeformation }}</p>
    <p class="text-muted">Modalités</p>
    <div>{{ formation.modalites|raw }}</div>
    <p class="text-muted">Informations</p>
    <div>{{ formation.informations|raw }}</div>
    <p class="text-muted">Mention</p>
    <p class="text-info">{{ formation.mention }}</p>
    <p class="text-muted">Ouverte</p>
    <p class="text-info">{% if formation.ouverte == 1 %}Oui{% else %}Non{% endif %}</p>
    <p class="text-muted">Faculté</p>
    <p class="text-info">
        {% for faculte in facultes %}
            {% if formation.faculte == faculte.id %}
                {{ faculte.nom }}
            {% endif %}
        {% endfor %}
    </p>
    <hr/>
    <a href="index.php?uc=formation&action=grille" class="btn btn-primary">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
    </a>

    <a href="index.php?uc=formation&action=modifier&code={{ formation.codeformation }}" class="btn btn-warning">
        <span class="glyphicon glyphicon-edit"></span> Modifier
    </a>
    <a href="index.php?uc=formation&action=suppression&code={{ formation.codeformation }}" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span> Supprimer
    </a>

    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            Gestion de la formation <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="index.php?uc=voeu&action=grille&code={{ formation.codeformation }}">
                    <span class="glyphicon glyphicon-briefcase"></span> Gérer les voeux
                </a>
            </li>
            <li>
                <a href="index.php?uc=dossierPdf&action=grille&code={{ formation.codeformation }}">
                    <span class="glyphicon glyphicon-paperclip"></span> Gérer les dossiers
                </a>
            </li>
            <li>
                <a href="index.php?uc=formation&action=syntheseCsv&code={{ formation.codeformation }}">
                    <span class="glyphicon glyphicon-list"></span> Synthèse Excel
                </a>
            </li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
           Gestion des dossiers PDF <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="prevPdf candidature" href="#">
                    <span class="glyphicon glyphicon-file"></span> Prévisualiser le dossier de candidature PDF
                </a>
            </li>
            <li>
                <a class="prevPdf preinscription" href="#">
                    <span class="glyphicon glyphicon-file"></span> Prévisualiser le dossier de pré-inscription PDF
                </a>
            </li>
            <li>
                <a href="index.php?uc=formation&action=logoDossierPdf&code={{ formation.codeFormation }}">
                    <span class="glyphicon glyphicon-picture"></span> Prévisualiser le logo du dossier PDF
                </a>
            </li>
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Veuillez patienter, création du dossier PDF ...</h4>
                </div>
                <div class="modal-body center-block">
                    <div class="progress">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info six-sec-ease-in-out"
                                 aria-valuetransitiongoal="99"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Attention !</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sûr(e) de vouloir réaliser cette action ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnOk">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="public/js/bootstrap-progressbar.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.btn-danger').click(function () {
                $('#myModal').modal('show');
                return false;
            });
            $('#btnOk').click(function () {
                window.location.href = $('.btn-danger').attr("href");
            });

            var typePdf = 'null';
            $('.prevPdf').click(function () {
                typePdf = ($(this).hasClass('candidature')) ? 'candidature' : 'preinscription';

                $('#loadingModal').modal('show');
                $('.progress .progress-bar').progressbar({
                    display_text: 'fill',
                    use_percentage: true,
                    refresh_speed: 50
                });
                var linkPdf = (typePdf == 'candidature') ? "index.php?uc=formation&action=previsualisationPdfCandidature&code={{ formation.codeformation }}&typePdf=" + typePdf
                                                         : "index.php?uc=formation&action=previsualisationPdfPreinscription&code={{ formation.codeformation }}&typePdf=" + typePdf
                $.ajax({
                    url: linkPdf,
                    success: function (data) {
                        window.location.replace("index.php?uc=formation&action=previsualiserPdf&code={{ formation.codeformation }}&typePdf=" + typePdf);
                    }
                });
            });

        });
    </script>
{% endblock %}

