{% extends 'intranet.html.twig' %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li class="active">Liste des formations</li>
</ol>

<h2 class="titre_rubrique">Liste des formations</h2>

<a href="index.php?uc=formation&action=ajouter" class="btn btn-lg btn-primary">
	<span class="glyphicon glyphicon-plus-sign"></span> Ajouter une formation
</a>

{% if formations is not empty %}

<hr />

<table class="table table-hover table-bordered table-striped">
	<tr>
		<th>Code</th>
		<th>Mention</th>
		<th>Ouverte</th>
		<th>Options</th>
	</tr>
	{% for formation in formations %}
	<tr>
		<td>{{ formation.codeformation }}</td>
		<td>{{ formation.mention }}</td>
		<td>{{ formation.ouverte }}</td>
		<td>
			<div class="btn-group">
				<a href="index.php?uc=formation&action=consulter&code={{ formation.codeformation }}" class="btn btn-info">
					<span class="glyphicon glyphicon-check"></span> Consulter
				</a>
				<a href="index.php?uc=formation&action=modifier&code={{ formation.codeformation }}"  class="btn btn-warning">
					<span class="glyphicon glyphicon-edit"></span> Modifier
				</a>
				<a href="index.php?uc=formation&action=supprimer&cide={{ formation.codeformation }}"  class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span> Supprimer
				</a>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endif %}

{% endblock %}