{% extends 'intranet.html.twig' %}

{% block content %}

<table class="table table-hover table-bordered table-striped">
	<tr>
		<th>Mention</th>
		<th>Etape</th>
		<th>Responsable</th>
		<th>Ville</th>
		<th>Faculté</th>
		<th>Langue Pdf</th>
		<th>Options</th>
	</tr>
	{% for formation in formations %}
	<tr>
		<td>{{ formation.mention }}</td>
		<td>{{ formation.etape }}</td>
		<td>{{ formation.responsable }}</td>
		<td>{{ formation.ville }}</td>
		<td>{{ formation.faculte }}</td>
		<td>{{ formation.languePdf }}</td>
		<td><div class="btn-group">
				<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-check"></span></button>
				<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
				<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}