{% extends 'intranet.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="index.php?uc=intranet&action">Accueil</a></li>
        <li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
        <li><a href="index.php?uc=formation&action=consulter&code={{ codeFormation }}">Fiche formation</a></li>
        <li class="active">Prévisualisation du dossier</li>
    </ol>

    <h2 class="titre_rubrique">
        Prévisualisation du dossier PDF de {{ typePdf }} {{ codeFormation }}
    </h2>
    <p>(Si le PDF ne s'affiche pas correctement, veuillez recharger la page)</p>
    <div  class="well">
        <div id="loading" style="text-align: center;"></div>
        <object id="pdfPreview" data="./dossiers/{{ codeFormation }}/Dossier_Type/{{ typePdf }}_Type.pdf" type="application/pdf"
                width="100%"
                height="700px">
            <p>Chargement veuillez patienter</p>
        </object>
    </div>
    <hr/>
    <a href="index.php?uc=formation&action=consulter&code={{ codeFormation }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
    </a>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#pdfPreview').hide();
            $('#loading').append(
                $('<img/>').attr('src', 'public/img/layout/ajax-loader.gif')
            ).append($('<div/>').text('Veuillez patienter ...'));
            setTimeout(function(){
                $('#loading').fadeOut('fast');
                $('#pdfPreview').fadeIn('slow');
            }, 6000);
        });
    </script>
{% endblock %}
