{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h2 class="titre_rubrique">Votre parcours</h2>

            <form role="form"
                  action="index.php?uc=formulaire&action=traiterChoixFormation"
                  id="formChoixFormation" method="post">

                <fieldset>
                    <legend>Formation souhaitée</legend>
                    <div class="well well-fg">
                        <div id="divChoisie" class="form-group">
                            <label for="choisie">Sélectionnez la formation souhaitée
                                pour l'année scolaire
                                {{ "now" | date("Y") }}
                                -{{ "now" | date("Y") + 1 }}</label> /
                            <span class="en">Whish training</span>
                            <span class="label label-danger">Requis</span>
                            <select class="form-control" id="choisie" name="choisie">
                                <option value="">&mdash;
                                    Sélectionnez &mdash;</option>
                                {% for dossierPdf in dossiersPdf %}
                                    <option value="{{ dossierPdf.id }}">{{ dossierPdf.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="divDerniere" class="form-group"></div>
                        <div id="divDocuments"></div>
                        <div id="divRadioButtons" class="form-group">
                            <label>Etes-vous en possession de tous les documents
                                demandés ?</label>

                            <div class="radio">
                                <label for="oui">
                                    <input type="radio" id="oui" name="allDocuments"
                                           value="oui"/> Oui
                                </label>
                            </div>
                            <div class="radio">
                                <label for="non">
                                    <input type="radio" id="non" name="allDocuments"
                                           value="non" checked/> Non
                                </label>
                            </div>
                        </div>
                        <div id="divSubmit">
                            <button type="submit" class="btn btn-primary">
                                <span class="glyphicon glyphicon-check"></span>
                                Remplir mon dossier
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="public/js/jquery-form-validator/jquery.form-validator.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#divDerniere').hide();
            $('#divRadioButtons').hide();
            $('#divSubmit').hide();

            $('input[type=radio]').on('change', function () {
                if ($(this).val() == 'oui') {
                    $('#divSubmit').fadeIn(1000);
                } else {
                    $('#divSubmit').fadeOut(1000);
                }
            });

            $('#choisie').on('change', function () {
                if ($(this).val() !== '')
                    loadDomains();
                else {
                    $('#divSubmit').fadeOut(250, function () {
                        $('#divRadioButtons').fadeOut(250, function () {
                            $('#divDocuments').fadeOut(250, function () {
                                $('#divDerniere').fadeOut(250, function () {
                                    $('#divDocuments').empty();
                                    $('#divDerniere').empty();
                                });
                            });
                        });
                    });
                }
            });

            var displayDerniereSelect = function (json) {
                $('#divDerniere').empty();
                var divDerniere = $('<div></div>').attr('id', 'divDerniere').addClass('form-group');
                var label = $('<label></label>').attr('for', 'derniere').html('Etes-vous en possession d\'un diplôme parmi celui ou ceux proposés ?');
                var select = $('<select/>').attr('id', 'derniere').attr('name', 'derniere').addClass('form-control').on('change', function () {
                    if ($(this).val() !== '0' && $(this).val() !== '') {
                        loadDocuments(1);
                    }
                    else if ($(this).val() === '') {
                        $('#divDocuments').fadeOut(1000, function () {
                            $('#divRadioButtons').fadeOut(1000, function () {
                                $('#divSubmit').fadeOut(1000);
                            });
                        });
                    }
                    else if ($(this).val() === '0') {
                        loadDocuments(0);
                        $('input[name="allDocuments"][value="non"]').prop('checked', true);
                        $('#divSubmit').fadeOut(1000);
                    }
                });
                select.append($('<option></option>').attr('value', '').html('&mdash; Sélectionnez &mdash;'));
                for (var i = 0; i < json.length; ++i) {
                    select.append($('<option></option>').attr('value', json[i].codeEtape).html(json[i].etape));
                }
                select.append($('<option></option>').attr('value', '0').html('Autre'));
                $('#divDerniere').append(label);
                $('#divDerniere').append(select);
                $('#divDerniere').fadeIn(1000);
            };

            var displayDerniereHidden = function () {
                $('#divDerniere').fadeOut(1000, function () {
                    $('#divDerniere').empty();
                    var hidden = $('<input/>').attr('type', 'hidden').attr('id', 'derniere').attr('name', 'derniere').attr('value', '0');
                    $('#divDerniere').append(hidden);
                    loadDocuments(0);
                });
            };

            var displayDocuments = function (json) {
                $('#divDocuments').empty();
                if (!$('#divDocuments').hasClass('alert') && !$('#divDocuments').hasClass('alert-warning')) {
                    $('#divDocuments').addClass('alert');
                    $('#divDocuments').addClass('alert-warning');
                }
                // On liste les documents généraux du JSON
                var documentsGeneraux = json.general;
                // On liste les documents spécifiques du JSON
                var documentsSpecifiques = json.specifique;
                // On crée une liste HTML pour afficher les documents généraux
                var listeDocumentsGeneraux = $('<ul></ul>');
                // On crée une liste HTML pour afficher les documents spécifiques
                var listeDocumentsSpecifiques = $('<ul></ul>');

                // Pour chaque document général, on ajoute un élément LI à la liste HTML
                documentsGeneraux.forEach(function (doc) {
                    // On crée un élément LI ayant comme contenu le nom du document général
                    var li = $('<li></li>').append(doc)
                    // On ajoute l'élément LI à la liste HTML
                    listeDocumentsGeneraux.append(li);
                });
                // Pour chaque document spécifique, on ajoute un élément LI à la liste HTML
                documentsSpecifiques.forEach(function (doc) {
                    // On crée un élément LI ayant comme contenu le nom du document général spécifique
                    var li = $('<li></li>').append(doc[0]);
                    if (doc[1] !== "") {
                        var link = $('<a></a>').on('click', function () {
                            window.open(this.href);
                            return false;
                        })
                                .addClass('linkDocumentSpecifique')
                                .attr('href', doc[1]).
                                append('Cliquez ici pour télécharger le document');
                        li.append(' - ')
                                .append(link);
                    }
                    // On ajoute l'élément LI à la liste HTML
                    listeDocumentsSpecifiques.append(li);
                });
                // On crée un cadre Alert Bootstrap
                var alert = $('<div></div>')
                        .addClass('alert')
                        .addClass('alert-danger')
                        .append($('<button></button>')
                                        .addClass('close')
                                        .attr('data-dismiss', 'alert')
                                        .attr('aria-hidden', 'true')
                                        .append('&times;')
                        ).append('Pour postuler à cette formation, assurez vous d\'être en possession des documents ci-dessous :');
                // On ajoute le cadre Alert Bootstrap à la DIV#divDocuments
                $('#divDocuments').append(alert);
                // On ajoute la liste des documents généraux avec un titre
                $('#divDocuments').append('<h4>Documents communs</h4>')
                        .append(listeDocumentsGeneraux);
                // S'il y a au moins 1 document spécifique, on ajoute la liste des documents spécifiques avec un titre
                if (documentsSpecifiques.length > 0) {
                    $('#divDocuments').append('<br/><h4>Documents spécifiques à la formation choisie</h4>')
                            .append(listeDocumentsSpecifiques);
                }
                $('#divDocuments').fadeIn(1000);
            };

            var loadDomains = function () {
                $.ajax({
                    url: 'index.php?uc=formulaire&action=domainesDeCompatibilite',
                    type: 'post',
                    data: 'idDossierPdf=' + $('#choisie').val(),
                    dataType: 'json',
                    success: function (json) {
                        if (json.length > 0) {
                            displayDerniereSelect(json);
                        } else {
                            displayDerniereHidden();
                        }
                    }
                });
            };

            var loadDocuments = function (pi) {
                $.ajax({
                    url: 'index.php?uc=formulaire&action=displayDocuments',
                    type: 'post',
                    data: 'idDossierPdf=' + $('#choisie').val() + '&preinscription=' + pi,
                    dataType: 'json',
                    success: function (json) {
                        displayDocuments(json);
                    }
                });
                $('input[name="allDocuments"][value="non"]').prop('checked', true);
                $('#divRadioButtons').fadeIn(1000);
            };

            {% if get.dossier is defined %}
            $('#choisie').val('{{ get.dossier }}');
            loadDomains();
            {% endif %}

        });
    </script>
{% endblock %}

