<div class="panel panel-primary">
    <div class="panel-heading">Choix de la spécialité / <span class="en_cadre">Wish(es) selection</span></div>
    <div class="panel-body">
        {% set nbListes = 3 %}
        {% if nbVoeux < 3 %}
            {% set nbListes = nbVoeux %}
        {% endif %}
        {% for i in 1..nbListes %}
            <div class="form-group">
                <label for="voeu-{{ i }}">Sélectionnez votre voeu n°{{ i }}</label> /
                <span class="en">Select your wish</span>
                <span class="label label-danger">Requis</span>
                <select class="form-control" id="voeu-{{ i }}" name="voeu[]">

                    {% if i > 1 %}
                        <option value="{{ i }}">Je ne souhaite pas faire d'autre voeu</option>
                    {% endif %}

                    {% for voeu in voeux %}
                        {% set villes = voeu.villes %}
                        <option value="{{ voeu.codeEtape }}">{{ voeu.etape }}
                            {% for ville in villes %}
                                - ({{ ville.nom }})
                            {% endfor %}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        {% if villesPreferables is not empty %}
            <div class="form-group">
                <label for="ville_preferee">Ville préférée parmi celles où se déroulent les spécialités</label> /
                <span class="en">Prefer city</span>
                <select class="form-control" id="ville_preferee" name="ville_preferee">
                    {% for villePreferable in villesPreferables %}
                        <option value="{{ villePreferable.id }}">{{ villePreferable.nom }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>
</div>
<input type="hidden" id="flag" name="flag" value="flag"/>

<input type="hidden" id="flag" name="flag" value="flag" />

