{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <h2 class="titre_rubrique">Votre parcours</h2>

            <form role="form" action="index.php?uc=formulaire&action=traiterChoixFormation"
                  id="formChoixFormation" method="post">
                <fieldset>
                    <legend>Formation souhaitée</legend>
                    <div class="well well-fg">
                        <div id="textboxIne" class="form-group has-success">
                            <label for="ine">Votre numéro INE</label>
                            <input class="form-control" type="text" id="ine" name="ine"/>
                        </div>
                        <div class="form-group">
                            <label for="derniere">Sélectionnez votre dernière formation effectuée</label>
                            <select class="form-control" id="derniere" name="derniere">
                                <option value="">---- Sélectionnez ----</option>
                                {% for formation in formations %}
                                    <option value="{{ formation.codeformation }}">{{ formation.mention }}</option>
                                {% endfor %}
                                <option value="0000">Autre</option>
                            </select>
                        </div>
                        <!-- /form-group -->
                        <div id="autre_formation">
                            <div class="form-group">
                                <label for="nomAutreFormation">Veuillez entrer le nom de la dernière
                                    formation que vous avez effectuée</label>
                                <input type="text" class="form-control" id="nomAutreFormation"
                                       name="nomAutreFormation">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="choisie">Sélectionnez la formation souhaitée pour l'année scolaire
                                2014-2015</label>
                            <select class="form-control" id="choisie" name="choisie">
                                <option value="">---- Séléctionnez ----</option>
                                {% for formation in formations %}
                                    <option value="{{ formation.codeformation }}">{{ formation.mention }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="displayDocuments"></div>
                        <div id="divAllDocuments" class="form-group">
                            <label>Etez-vous en possession de tous les documents demandés ?</label>

                            <div class="radio">
                                <label for="oui">
                                    <input type="radio" id="oui" name="allDocuments" value="oui"/> Oui
                                </label>
                            </div>
                            <div class="radio">
                                <label for="non">
                                    <input type="radio" id="non" name="allDocuments" value="non" checked/> Non
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary"/>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=submit]').hide();
            $('#divAllDocuments').hide();

            var choixFormation = $("select[name='derniere'] > optgroup > option:selected").val();
            var autreFormation = $("#autre_formation");

            (choixFormation === "Autre") ? autreFormation.fadeIn("slow") : autreFormation.hide();

            $("select[name='derniere']").on('change', function () {
                choixFormation = $("select[name='derniere'] > optgroup > option:selected").val();
                (choixFormation === "Autre") ? autreFormation.fadeIn("slow") : autreFormation.fadeOut("fast");
            });

            $('input[type=radio]').on('change', function () {
                if ($(this).val() == 'oui') {
                    $('input[type=submit]').show();
                } else {
                    $('input[type=submit]').hide();
                }
            });

            $('#ine').on('input', function () {
                checkCreationDossierPossible();
            });
            $('#choisie').on('change', function () {
                $('#divAllDocuments').show();
                checkCreationDossierPossible();
                $.ajax({
                    url: 'index.php?uc=formulaire&action=displayDocuments',
                    type: 'post',
                    data: 'code=' + $('#choisie').val(),
                    dataType: 'json',
                    success: function (json) {
                        $('#displayDocuments').empty();
                        var documentsGeneraux = json.general;
                        var documentsSpecifiques = json.specifique;
                        var listeDocumentsGeneraux = $('<div class="alert alert-warning"><ul></ul></div>');
                        var listeDocumentsSpecifiques = $('<div class="alert alert-warning"><ul></ul></div>');

                        documentsGeneraux.forEach(function (doc) {
                            var li = $('<li></li>').append(doc)
                            listeDocumentsGeneraux.append(li);
                        });
                        documentsSpecifiques.forEach(function (doc) {
                            console.log(doc)
                            var li = $('<li></li>').append(doc[0]);
                            if (doc[1] !== "") {
                                var link = $('<a></a>')
                                        .attr('href', doc[1]).
                                        append('Cliquez ici pour télécharger le document');
                                li.append(' - ')
                                        .append(link);
                            }
                            listeDocumentsSpecifiques.append(li);
                        });
                        var alert = $('<div></div>')
                                .addClass('alert')
                                .addClass('alert-danger')
                                .append(
                                        $('<button></button>')
                                                .addClass('close')
                                                .attr('data-dismiss', 'alert')
                                                .attr('aria-hidden', 'true')
                                                .append('&times;')
                                ).append('Pour postuler à cette formation, assurez vous d\'être en possession des documents ci dessous :');

                        $('#displayDocuments').append('<hr />')
                                .append(alert)
                                .append('<h4>Documents communs</h4>')
                                .append(listeDocumentsGeneraux);
                        if (documentsSpecifiques.length > 0) {
                            $('#displayDocuments').append('<h4>Documents spécifiques à la formation choisie</h4>')
                                    .append(listeDocumentsSpecifiques);
                        }
                    }
                });
            });
            function checkCreationDossierPossible() {
                var ine = $('#ine').val();
                var codeFormation = $('#choisie').val();
                $.ajax({
                    url: 'index.php?uc=formulaire&action=candidaturePossible',
                    type: 'post',
                    data: 'ine=' + ine + '&code_formation=' + codeFormation,
                    dataType: 'json',
                    success: function (json) {
                        if (json.response == 0) {
                            if ($('#textboxIne').hasClass('has-success')) {
                                $('#textboxIne').removeClass('has-success').addClass('has-error');
                            }
                        } else {
                            if ($('#textboxIne').hasClass('has-error')) {
                                $('#textboxIne').removeClass('has-error').addClass('has-success');
                            }
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}
