{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row" style="margin-top: 1em;">
        <div class="col-md-12">
            <h2 class="titre_rubrique">
                {% if typedossier == 'CA' %}Candidature{% elseif typedossier == 'PI' %}Pré-inscription{% endif %}
                en {{ formation.mention }} pour l'année scolaire {{ anneeBasse }}-{{ anneeHaute }}
            </h2>

            <form role="form" id="mainFormulaire" action="index.php?uc=formulaire&action=traiterMainFormulaire"
                  method="post" autocomplete="on">
                {% if formation.modalites is not empty %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Modalités</div>
                        <div class="panel-body">
                            {{ formation.modalites|raw }}
                        </div>
                    </div>
                {% endif %}
                {% include 'formulaire/informationsGenerales.html.twig' %}
                {% if typedossier == 'CA' %}
                    {% include 'formulaire/postBacExperiences.html.twig' %}
                    {% include 'formulaire/choixVoeux.html.twig' %}
                    {% if form is not null %}
                        {% include 'formulaire/informationsSpecifiques.html.twig' %}
                    {% endif %}
                    {% include 'formulaire/documentsGeneraux.html.twig' %}
                {% endif %}
            </form>
            <button id="customSubmit" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> Envoyer
            </button>
            <br/><br/>

            <div class="alert alert-warning">Le traitement du formulaire peut prendre plusieurs secondes. Veuillez
                patienter et ne pas recharger la page.
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Attention !</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sûr(e) de vouloir réaliser cette action ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="./public/js/jquery-upload/jquery.uploadfile.js"></script>
    <script src="./public/js/jquery-form-validator/jquery.form-validator.min.js"></script>
    <script src="./public/js/jq.progress-bar.js"></script>
    <script type="text/javascript">
        Array.prototype.allValuesAreDifferent = function () {
            var ok = true;
            for (var i = 0; i < this.length; ++i) {
                if ($.inArray(this[i], this, i + 1) > -1) {
                    ok = false;
                }
            }
            return ok;
        };

        $(document).ready(function () {
            // Progress Bar
            $('#mainFormulaire').showProgress({ message: { '10': 'You\'re off to a great start!', '25': 'You\'re doing great so far!', '50': 'You\'re halfway there!', '75': 'Look at that, you\'re nearly done already!', '100': 'All done! Just click <strong>Submit</strong> to continue!' } });
            var uploadObj = $("#upload").uploadFile({
                url: "upload/upload.php",
                dragDrop: true,
                fileName: "myfile",
                returnType: "json",
                showDelete: true,
                multiple: true,
                autoSubmit: false,
                dragDropStr: "<span><b>Faites glisser et déposez les fichiers</b></span>",
                abortStr: "Abandonner",
                cancelStr: "Annuler",
                deletelStr: "Supprimer",
                showDone: false,
                deleteCallback: function (data, pd) {
                    for (var i = 0; i < data.length; i++) {
                        $.post("upload/delete.php", {op: "Supprimer", name: data[i]},
                                function (resp, textStatus, jqXHR) {
                                    //Show Message
                                    $('#myModal').modal('show')
                                });
                    }
                    pd.statusbar.hide(); //You choice.
                },
                afterUploadAll: function () {
                    $('#mainFormulaire').submit();
                }
            });

            // Vérification du formulaire
            var myLanguageFR = {
                errorTitle: 'Form submission failed!',
                requiredFields: 'Ce champ est obligatoire.',
                badTime: 'You have not given a correct time',
                badEmail: 'Veuillez fournir une adresse électronique valide.',
                badTelephone: 'You have not given a correct phone number',
                badSecurityAnswer: 'You have not given a correct answer to the security question',
                badDate: 'You have not given a correct date',
                lengthBadStart: 'You must give an answer between ',
                lengthBadEnd: ' characters',
                lengthTooLongStart: 'You have given an answer longer than ',
                lengthTooShortStart: 'You have given an answer shorter than ',
                notConfirmed: 'Values could not be confirmed',
                badDomain: 'Incorrect domain value',
                badUrl: 'The answer you gave was not a correct URL',
                badCustomVal: 'You gave an incorrect answer',
                badInt: 'The answer you gave was not a correct number',
                badSecurityNumber: 'Your social security number was incorrect',
                badUKVatAnswer: 'Incorrect UK VAT Number',
                badStrength: 'The password isn\'t strong enough',
                badNumberOfSelectedOptionsStart: 'You have to choose at least ',
                badNumberOfSelectedOptionsEnd: ' answers',
                badAlphaNumeric: 'Veuillez écrire seulement des caractères alphanumerique ',
                badAlphaNumericExtra: ' et ',
                wrongFileSize: 'The file you are trying to upload is too large',
                wrongFileType: 'The file you are trying to upload is of wrong type',
                groupCheckedRangeStart: 'Please choose between ',
                groupCheckedTooFewStart: 'Please choose at least ',
                groupCheckedTooManyStart: 'Please choose a maximum of ',
                groupCheckedEnd: ' item(s)'
            };

            $.validate({
                language: myLanguageFR
            });

            // Envoi du formulaire
            $("#customSubmit").click(function () {
                // On lance la validation du formulaire ici
                uploadObj.startUpload();
            });

            $('#mainFormulaire').submit(function () {
                var choix = [];
                $('select').each(function () {
                    choix.push($(this).val());
                });
            });

            $("#startUpload").click(function () {
                uploadObj.startUpload();
            });

            // TESTS LIONEL CURSUS ET EXPERIENCES
            var nbCursus = 1, nbExperiences = 1;

            $("#addCursus").click(function () {
                if (nbCursus === 10) {
                    $('.modal-body').html('Vous ne pouvez pas renseigner plus de 10 cursus.');
                    $('#myModal').modal('show');
                } else {
                    $(this).attr("disabled", "disabled");
                    $.ajax({
                        url: 'index.php?uc=formulaire&action=getTemplateCursus',
                        type: 'get',
                        data: 'indice=' + (nbCursus + 1),
                        dataType: 'html',
                        success: function (html) {
                            $("#blockCursus-" + nbCursus).after().append(html);
                            $("#addCursus").removeAttr("disabled");
                            nbCursus = nbCursus + 1;
                        }
                    });
                }
            });
            $("#removeCursus").click(function () {
                if (nbCursus === 1) {
                    $('.modal-body').html('Vous devez renseigner au moins un cursus.');
                    $('#myModal').modal('show');
                } else {
                    $(this).attr("disabled", "disabled");
                    $("#blockCursus-" + nbCursus).remove();
                    nbCursus = nbCursus - 1;
                    $(this).removeAttr("disabled");
                }
            });
            $("#addExperience").click(function () {
                if (nbExperiences === 10) {
                    $('.modal-body').html('Vous ne pouvez pas renseigner plus de 10 expériences.');
                    $('#myModal').modal('show');
                } else {
                    $(this).attr("disabled", "disabled");
                    $.ajax({
                        url: 'index.php?uc=formulaire&action=getTemplateExperience',
                        type: 'get',
                        data: 'indice=' + (nbExperiences + 1),
                        dataType: 'html',
                        success: function (html) {
                            $("#blockExperience-" + nbExperiences).after().append(html);
                            $("#addExperience").removeAttr("disabled");
                            nbExperiences = nbExperiences + 1;
                        }
                    });
                }
            });
            $("#removeExperience").click(function () {
                if (nbExperiences === 1) {
                    $('.modal-body').html('Vous devez renseigner au moins une expérience professionnelle.');
                    $('#myModal').modal('show');
                } else {
                    $(this).attr("disabled", "disabled");
                    $("#blockExperience-" + nbExperiences).remove();
                    nbExperiences = nbExperiences - 1;
                    $(this).removeAttr("disabled");
                }
            });
        });
    </script>
{% endblock %}
