{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2 class="titre_rubrique">
            <div id="debut"></div>

                {% if typeDossier == 'CA' %}Candidature{% elseif typeDossier == 'PI' %}Pré-inscription{% endif %}
                en {{ dossierPdf.nom }} pour l'année scolaire {{ anneeBasse }}
                -{{ anneeHaute }}
            </h2>

            <form role="form" id="mainFormulaire"
                  action="index.php?uc=formulaire&action=traiterMainFormulaire"
                  method="post" autocomplete="on">
                {% include 'formulaire/informationsGenerales.html.twig' %}

                {% if typeDossier == 'CA' %}
                    {% include 'formulaire/languesAutres.html.twig' %}
                {% endif %}

                {% include 'formulaire/postBacExperiences.html.twig' %}
                {% include 'formulaire/choixVoeux.html.twig' %}
                {% if typeDossier == 'CA' %}
                    {% if form is not null %}
                        {% include 'formulaire/informationsSpecifiques.html.twig' %}
                    {% endif %}
                {% endif %}

                {% include 'formulaire/documentsGeneraux.html.twig' %}

                {% if dossierPdf.modalites is not empty %}
                    <div class="bs-callout bs-callout-warning">
                        <h3>Modalités</h3>

                        <p>{{ dossierPdf.modalites | raw }}</p>
                    </div>
                {% endif %}

                {% if dossierPdf.informations is not empty %}
                    <div class="bs-callout bs-callout-info">
                        <h3>Informations</h3>

                        <p>{{ dossierPdf.informations | raw }}</p>
                    </div>
                {% endif %}

                <button type="input" id="customSubmit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Envoyer
                </button>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Attention !</h4>
                </div>
                <div class="modal-body">
                    Etes-vous sûr(e) de vouloir réaliser cette action ?
                </div>
                <div class="modal-footer">
                    <button id="boutonOk" type="button" class="btn btn-default"
                            data-dismiss="modal">Ok
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="public/js/jquery-upload/jquery.uploadfile.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.38/jquery.form-validator.min.js"></script>
    <script src="public/js/bootstrap-formhelpers.min.js"></script>
    <script src="public/js/jq.progress-bar.js"></script>
    <script src="public/js/datepicker/bootstrap-datepicker.js"></script>
    <script src="public/js/datepicker/locales/bootstrap-datepicker.fr.js"></script>
    <script type="text/javascript">

    Array.prototype.uniqueValues = function () {
        var ok = true;
        for (var i = 0; i < this.length; ++i) {
            if ($.inArray(this[i], this, i + 1) > -1) {
                ok = false;
            }
        }
        return ok;
    };

    $(document).ready(function () {
        $.fn.exists = function() {
            return (this.length > 0);
        };

        // L'upload a-t-il été fait ?
        uploadGlobal = false;
        // y a-t-il un fichier qui a été ajouté dans la zone de drag & drop?
        isFileAjouterGlobal = false;

        // Jeu d'essai formulaire
        $('#nom').val('Pierre');
        $('#prenom').val('Paul');
        $('#lieu_naissance').val('Kingston');
        $('#nationalite').val('Française');
        $('#ine').val('100000000W');
        $('#adresse').val('4 rue pierre paul jaques Bat B');
        $('#complement').val('Res zion');
        $('#ville').val('Aix-en-Provence');
        $('#code_postal').val('13100');
        $('#mail').val('pierrepaul@gmail.com');
        $('#serie_bac').val('Scientifique');
        $('#etablissement_bac').val('Lycée Roland Garros');
        $('#langues').val('Anglais');
        $('#activite').val('Etudiant');
        $('#etablissement').eq(0).val('IUT Aix-en-Provence');
        $('#cursus').eq(0).val('DUT Informatique');
        $('#ville_preferee').val('1');
        $('#entreprise').val('Sporstec');
        $('#fonction').val('Développeur PHP');

        var boutonOK = $('#boutonOk');
        //ancrage bouton OK
        boutonOK.click(function() {
            if($(this).hasClass('champsManquants')){
                $('html,body').animate({scrollTop: $("#debut").offset().top}, 'slow');
            }
            if ($(this).hasClass('voeuxIdentiques')) {
                $('html,body').animate({scrollTop: $("#voeuxIdentiques").offset().top}, 'slow');
            }
            if ($(this).hasClass('noDocuments')) {
                $('html,body').animate({scrollTop: $("#noDocuments").offset().top}, 'slow');
            }
        });

        // Progress Bar
        $('#mainFormulaire').showProgress({ message: { '10': '', '25': '', '50': '!', '75': '', '100': '' } });

        $('#datePickerNaissance .input-group.date').datepicker({
            language: "fr",
            autoclose: true,
            todayHighlight: true,
            startView: 2,
            keyboardNavigation: false
        });

        $('#datePickerYearBac .input-group.date').datepicker({
            format: "yyyy",
            language: "fr",
            autoclose: true,
            todayHighlight: true,
            viewMode: "years",
            minViewMode: "years",
            keyboardNavigation: false
        });

        var uploadObj = $("#upload").uploadFile({
            url: "index.php?uc=formulaire&action=uploadDocuments",
            dragDrop: true,
            fileName: "myfile",
            returnType: "json",
            multiple: true,
            autoSubmit: false,
            dragDropStr: "<span><b>Faites glisser et déposez les fichiers</b></span>",
            abortStr: "Abandonner",
            cancelStr: "Annuler",
            deletelStr: "Supprimer",
            showDone: false,
            dynamicFormData: function () {
                // Récupération des champs nom et prénom de l'étudiant
                var data = {
                    nom: $('#nom').val(),
                    prenom: $('#prenom').val(),
                    voeu1: $('#voeu-1').val(),
                    voeu2: $('#voeu-2').length > 0 ? ($('#voeu-2').val() !== '2' ? $('#voeu-2').val() : null) : null,
                    voeu3: $('#voeu-3').length > 0 ? ($('#voeu-2').val() !== '3' ? $('#voeu-2').val() : null) : null
                }
                return data;
            },
            afterUploadAll: function () {
                uploadGlobal = true;
                $('#mainFormulaire').submit();
            },
            onSelect: function (files) {
                // Au moins un fichier a été ajouté dans la zone de drag & drop
                isFileAjouterGlobal = true;
                return true; //to allow file submission.
            },
            onError: function (files, status, errMsg) {
                $('.modal-body').html('Les pièces jointes n\'ont pas été bien envoyées.');
                boutonOK.removeClass('champsManquants voeuxIdentiques noDocuments');
                $('#myModal').modal('show');
            }
        });

        // Envoi du formulaire
        $("#customSubmit").click(function () {
            //var modal = $('.modal-body');
            //modal.html('');
            // Test si les voeux sont tous différents
            /*voeux = [];
            $('select[name="voeu[]"]').each(function () {
                voeux.push($(this).val());
            });*/
            /*if (!isFileAjouterGlobal) {
             $('.modal-body').html($('.modal-body').html() + '<br>Veuillez ajouter les documents à joindre');
             }*/
            /*if (!voeux.uniqueValues()) {
                $('.modal-body').html('Les voeux doivent être différents');
            }*/
            /*if (!modal.html() == '') {
                boutonOK.removeClass('champsManquants');
                $('#myModal').modal('show');
                return false;
            }*/
        });

        // Message d'erreurs champs formulaire
        var myLanguageFR = {
            errorTitle: 'La soumission du formulaire a échoué / <i>Form submission failed!</i>',
            requiredFields: 'Ce champ est obligatoire.',
            badTime: 'You have not given a correct time',
            badEmail: 'Veuillez fournir une adresse électronique valide.',
            badTelephone: 'You have not given a correct phone number',
            badSecurityAnswer: 'You have not given a correct answer to the security question',
            badDate: 'You have not given a correct date',
            lengthBadStart: 'You must give an answer between ',
            lengthBadEnd: ' characters',
            lengthTooLongStart: 'You have given an answer longer than ',
            lengthTooShortStart: 'You have given an answer shorter than ',
            notConfirmed: 'Values could not be confirmed',
            badDomain: 'Incorrect domain value',
            badUrl: 'The answer you gave was not a correct URL',
            badCustomVal: 'You gave an incorrect answer',
            badInt: 'The answer you gave was not a correct number',
            badSecurityNumber: 'Your social security number was incorrect',
            badUKVatAnswer: 'Incorrect UK VAT Number',
            badStrength: 'The password isn\'t strong enough',
            badNumberOfSelectedOptionsStart: 'You have to choose at least ',
            badNumberOfSelectedOptionsEnd: ' answers',
            badAlphaNumeric: 'Veuillez écrire seulement des caractères alphanumerique ',
            badAlphaNumericExtra: ' et ',
            wrongFileSize: 'The file you are trying to upload is too large',
            wrongFileType: 'The file you are trying to upload is of wrong type',
            groupCheckedRangeStart: 'Please choose between ',
            groupCheckedTooFewStart: 'Please choose at least ',
            groupCheckedTooManyStart: 'Please choose a maximum of ',
            groupCheckedEnd: ' item(s)'
        };
        var initValidator = function () {
            // Validateur du formulaire
            $.validate({
                language: myLanguageFR,
                errorMessagePosition: 'top',
                scrollToTopOnError: false,
                onError: function () {
                    $('.modal-body').html('Veuillez renseigner tous les champs obligatoires du formulaire');
                    boutonOK.addClass('champsManquants');
                    $('#myModal').modal('show');
                },
                onSuccess: function () {
                    var isVoeuxOk = true;
                    var voeux = [];
                    $('select[name="voeu[]"]').each(function () {
                        voeux.push($(this).val());
                    });
                    if (!voeux.uniqueValues()) {
                        isVoeuxOk = false;
                        boutonOK.removeClass('champsManquants voeuxIdentiques noDocuments');
                        boutonOK.addClass('voeuxIdentiques');
                        $('.modal-body').html('Les voeux doivent être différents');
                        $('#myModal').modal('show');
                        return false;
                    }
                    if (!isFileAjouterGlobal && isVoeuxOk) {
                        boutonOK.removeClass('champsManquants voeuxIdentiques noDocuments');
                        boutonOK.addClass('noDocuments');
                        $('.modal-body').html('Veuillez ajouter les documents à joindre');
                        $('#myModal').modal('show');
                        return false;
                    }
                    if (!uploadGlobal) {
                        uploadObj.startUpload();
                        return false;
                    }
                }
            });
        };
        initValidator();

        $('.form-group').addClass('has-feedback');

        var nbCursus = 1, nbExperiences = 1;

        $("#addCursus").click(function () {
            if (nbCursus === 10) {
                $('.modal-body').html('Vous ne pouvez pas renseigner plus de 10 cursus.');
                boutonOK.removeClass('champsManquants voeuxIdentiques noDocuments');
                $('#myModal').modal('show');
            } else {
                $(this).attr("disabled", "disabled");
                $.ajax({
                    url: 'index.php?uc=formulaire&action=getTemplateCursus',
                    type: 'get',
                    data: 'indice=' + (nbCursus + 1),
                    dataType: 'html',
                    success: function (html) {
                        $("#blockCursus-" + nbCursus).after(html);
                        $("#addCursus").removeAttr("disabled");
                        nbCursus = nbCursus + 1;
                        initValidator();
                    }
                });
            }
        });

        $("#removeCursus").click(function () {
            if (nbCursus === 1) {
                $('.modal-body').html('Vous devez renseigner au moins un cursus.');
                boutonOK.removeClass('champsManquants voeuxIdentiques noDocuments');
                $('#myModal').modal('show');
            } else {
                $(this).attr("disabled", "disabled");
                $("#blockCursus-" + nbCursus).remove();
                nbCursus = nbCursus - 1;
                initValidator();
                $(this).removeAttr("disabled");
            }
        });

        $("#addExperience").click(function () {
            if (nbExperiences === 10) {
                $('.modal-body').html('Vous ne pouvez pas renseigner plus de 10 expériences.');
                boutonOK.removeClass('champsManquants voeuxIdentiques noDocuments');
                $('#myModal').modal('show');
            } else {
                $(this).attr("disabled", "disabled");
                $.ajax({
                    url: 'index.php?uc=formulaire&action=getTemplateExperience',
                    type: 'get',
                    data: 'indice=' + (nbExperiences + 1),
                    dataType: 'html',
                    success: function (html) {
                        if (nbExperiences > 0) {
                            $("#blockExperience-" + nbExperiences).after(html);
                        } else {
                            $("#delimiterExperiences").after(html);
                        }
                        $("#addExperience").removeAttr("disabled");
                        initValidator();
                        nbExperiences = nbExperiences + 1;
                    }
                });
            }
        });

        $("#removeExperience").click(function () {
            if (nbExperiences === 0) {
                return false;
            } else {
                $(this).attr("disabled", "disabled");
                $("#blockExperience-" + nbExperiences).remove();
                nbExperiences = nbExperiences - 1;
                initValidator();
                $(this).removeAttr("disabled");
            }
        });
    });
    </script>
{% endblock %}
