{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Etape 4/4 : Parcours post-bac</h3>
                </div><!-- /panel-heading -->

                <div class="panel-body">
                    <form role="form" action="#" id="formPostBac" method="post">
                        <fieldset>
                            <legend>Cursus antérieur</legend>
                            <h4>1. Dernière inscription dans l'enseignement supérieur</h4>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label for="">Année universitaire</label>
                                        <input type="text" class="form-control" id="anne{{ i }}" name="anne{{ i }}" placeholder="Ex : 2013/2014 " />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label for="">Formation suivie</label>
                                        <input type="text" class="form-control" id="anne{{ i }}" name="anne{{ i }}" placeholder="Ex : 2013/2014 " />
                                    </div>
                                </div>

                            </div>

                            <h4>2. Cursus post-bac</h4>
                            <div class="form-group">
                                {% for i in 1..5 %}
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="anne{{ i }}">Année</label>
                                            <input type="text" class="form-control" id="anne{{ i }}" name="anne{{ i }}" placeholder="Ex : 2013/2014 " />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="etablissement{{ i }}">Etablissement</label>
                                            <input type="text" class="form-control" id="etablissement{{ i }}" name="etablissement{{ i }}" placeholder="Etablissement fréquenté" />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="cursus{{ i }}">Cursus suivi</label>
                                            <input type="text" class="form-control" id="cursus{{ i }}" name="cursus{{ i }}" placeholder="Votre cursus" />
                                        </div>
                                        <div class="col-md-3">
                                            <label for="note{{ i }}">Note/Mention</label>
                                            <input type="text" class="form-control" id="note{{ i }}" name="note{{ i }}" placeholder="Votre note/mention" />
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>

                        <fieldset>
                            <h4>3. Expérience professionnelle (emplois, stages)</h4>
                            <div class="form-group">
                                {% for i in 0..2 %}
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="periode{{ i }}">Période</label>
                                            <input type="text" class="form-control" id="periode{{ i }}" name="periode{{ i }}" placeholder="Ex : 01/01/13 au 01/02/13 " />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="entreprise{{ i }}">Entreprise</label>
                                            <input type="text" class="form-control" id="entreprise{{ i }}" name="entreprise{{ i }}" placeholder="Entreprise fréquenté" />
                                        </div>
                                        <div class="col-md-4">
                                            <label for="emploi{{ i }}">Emploi occupé</label>
                                            <input type="text" class="form-control" id="emploi{{ i }}" name="emploi{{ i }}" placeholder="Votre poste" />
                                        </div>
                                        <div class="col-md-2">
                                            <label for="duree{{ i }}">Durée</label>
                                            <input type="text" class="form-control" id="duree{{ i }}" name="duree{{ i }}" placeholder="Durée" />
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Autres</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label for="langue_etrangere">Langues étrangères (lu, écrit, parlé)</label>
                                        <input type="text" class="form-control" id="langue_etrangere" name="langue_etrangere" placeholder="Anglais (lu, écrit, parlé), espagnol (lu, écrit) ..."/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label for="autre_element">Autres éléments appuyant votre candidature</label>
                                        <textarea class="form-control" id="autre_element" name="autre_element"></textarea>
                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <input type="submit" class="btn btn-primary">
                    </form>
                </div> <!-- panel-body -->
            </div><!-- panel panel-primary -->
        </div>
    </div>
{% endblock %}