<fieldset>
    <legend>Cursus antérieur</legend>

    <h4>1. Cursus post-bac </h4>
    <p>Veuillez détailler votre parcours post-bac.</p>
    {% for i in 1..5 %}
    {% if i != 1 %}<h4><div class="label label-info">Optionnel</div></h4>{% endif %}
    <div class="well well-fg">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="anneeDebutCursus-{{ i }}">Année de début</label>
                    <input type="text" class="form-control {% if i == 1 %}required{% endif %}" id="anneeDebutCursus-{{ i }}"
                           name="anneeDebutCursus-{{ i }}" {% if i == 1 %}data-validation="required"{% endif %}/>
                </div>
                <div class="col-md-2">
                    <label for="anneeFinCursus-{{ i }}">Année de fin</label>
                    <input type="text" class="form-control {% if i == 1 %}required{% endif %}" id="anneeFinCursus-{{ i }}"
                           name="anneeFinCursus-{{ i }}" {% if i == 1 %}data-validation="required"{% endif %}/>
                </div>
                <div class="col-md-8">
                    <label for="etablissement-{{ i }}">Etablissement</label>
                    <input type="text" class="form-control {% if i == 1 %}required{% endif %}" id="etablissement-{{ i }}"
                           name="etablissement-{{ i }}" {% if i == 1 %}data-validation="required"{% endif %}/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="valide-{{ i }}">Note (résultat) {% if i == 1 %}<span class="label label-info">Optionnel</span>{% endif %}</label>
                    <input type="text" class="form-control" id="valide-{{ i }}" name="valide-{{ i }}"/>
                </div>
                <div class="col-md-8">
                    <label for="cursus-{{ i }}">Cursus suivi</label>
                    <input type="text" class="form-control {% if i == 1 %}required{% endif %}" id="cursus-{{ i }}" name="cursus-{{ i }}"
                           {% if i == 1 %}data-validation="required"{% endif %}/>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    {% endfor %}

</fieldset>

<div class="well well-fg">
<fieldset>
    <h4>2. Expérience professionnelle (emplois, stages) <span class="label label-info">Optionnel</span></h4><br/>
    {% for i in 1..3 %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label for="moisDebut-{{ i }}">Mois de début</label>
                    <input type="text" class="form-control" id="moisDebut-{{ i }}" name="moisDebut-{{ i }}"/>
                </div>
                <div class="col-md-3">
                    <label for="anneeDebut-{{ i }}">Année de début</label>
                    <input type="text" class="form-control" id="anneeDebut-{{ i }}" name="anneeDebut-{{ i }}"/>
                </div>
                <div class="col-md-3">
                    <label for="moisFin-{{ i }}">Mois de fin</label>
                    <input type="text" class="form-control" id="moisFin-{{ i }}" name="moisFin-{{ i }}"/>
                </div>
                <div class="col-md-3">
                    <label for="anneeFin-{{ i }}">Année de fin</label>
                    <input type="text" class="form-control" id="anneeFin-{{ i }}" name="anneeFin-{{ i }}"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="entreprise{{ i }}">Entreprise</label>
                    <input type="text" class="form-control" id="entreprise-{{ i }}" name="entreprise-{{ i }}"/>
                </div>
                <div class="col-md-6">
                    <label for="emploi{{ i }}">Fonction</label>
                    <input type="text" class="form-control" id="fonction-{{ i }}" name="fonction-{{ i }}"/>
                </div>
            </div>
            <hr/>
        </div>
    {% endfor %}

</fieldset>
</div>
