{% set mois = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"] %}
<div class="panel panel-primary">
    <div class="panel-heading">Formation antérieure / <span class="en_cadre">Previous formation</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p><strong>Veuillez détailler votre parcours post-bac</strong></p>
                    <p>Vous pouvez renseigner entre 1 et 10 cursus.</p>
                    <p>Vous devez renseigner vos cursus passés en partant du plus récent au plus ancien.</p>
                    <p>Utilisez les boutons <strong>Ajouter</strong> et <strong>Retirer</strong> prévus à cet effet.</p>
                </div>

                <div class="btn-group">
                    <button type="button" id="addCursus"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-plus-sign"></span> Ajouter
                    </button>
                    <button type="button" id="removeCursus"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-minus-sign"></span> Retirer
                    </button>
                </div>
            </div>
        </div>
        <br/>

        <div id="blockCursus-1">
            <div class="well well-lg">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="anneeCursus[]">Années</label> /
                            <span class="en">Years</span>
                            <span class="label label-danger">Requis</span>
                            <select class="form-control"
                                    id="anneeCursus-1"
                                    name="anneeCursus[]">
                                {% set ecart = anneeBasse - 60 %}
                                {% for i in ecart..anneeBasse %}
                                    <option {% if i == "now" | date('Y') %}selected="selected" {% endif %}value="{{ i - 1 }}-{{ i }}">{{ i - 1 }}-{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="valide[]">Année validée
                                ?</label>
                            <span class="label label-danger">Requis</span>
                            <select class="form-control" name="valide[]"
                                    id="valide-1">
                                <option value="1">Oui</option>
                                <option value="0" selected>Non</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="note[]">Note (résultat)
                            </label> /
                            <span class="en">Mark</span>
                            <input type="text" class="form-control" id="note-1"
                                   name="note[]" maxlength="50"/>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="etablissement[]">Etablissement</label> /
                            <span class="en">Establishment</span>
                            <span class="label label-danger">Requis</span>
                            <input type="text" class="form-control required"
                                   id="etablissement-1"
                                   name="etablissement[]"
                                   data-validation="custom"
                                   data-validation-regexp="^([a-zA-Z-\séêèëààâäôœöûüùîïç]+)$"
                                   data-validation-error-msg="Veuillez indiquer le nom de l'établissement où vous avez effectué votre parcours post bac"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cursus[]">Cursus suivi</label> / <span
                                    class="en">Followed formation</span>
                            <span class="label label-danger">Requis</span>
                            <input type="text" class="form-control required"
                                   id="cursus-1" name="cursus[]"
                                   data-validation="custom"
                                   data-validation-regexp="^([a-zA-Z-\séêèëààâäôœöûüùîïç]+)$"
                                   data-validation-error-msg="Veuillez remplir le cursus suivi"/>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Expériences professionnelles (emplois, stages)
    / <span class="en_cadre">Professional experience</span></div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <p><strong>Veuillez renseigner vos expériences professionnelles</strong></p>
                    <p>Vous pouvez renseigner jusqu'à 10 expériences professionnelles ou n'en renseigner aucune.</p>
                    <p>Vous devez renseigner vos expériences professionnelles passées en partant de la plus récente à la plus ancienne.</p>
                    <p>Utilisez les boutons <strong>Ajouter</strong> et <strong>Retirer</strong> prévus à cet effet.</p>
                </div>

                <div class="btn-group">
                    <button type="button" id="addExperience"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Ajouter
                    </button>
                    <button type="button" id="removeExperience"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                        Retirer
                    </button>
                </div>
            </div>
        </div>
        <br id="delimiterExperiences"/>
        <div id="blockExperience-1">
            <div class="well">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="moisDebut-1">Mois de début</label>
                            <span class="label label-danger">Requis</span>
                            <select class="form-control" id="moisDebut[]"
                                    name="moisDebut[]">
                                {% for unMois in mois %}
                                    <option value="{% if loop.index < 10 %}0{% endif %}{{ loop.index }}">{{ unMois }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="anneeDebut[]">Année de début</label>
                            <span class="label label-danger">Requis</span>
                            <select class="form-control" id="anneeDebut[]"
                                    name="anneeDebut[]">
                                {% set ecart = anneeBasse - 60 %}
                                {% for i in ecart..anneeBasse %}
                                    <option {% if i == "now" | date('Y') %}selected="selected" {% endif %} value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="moisFin[]">Mois de fin</label>
                            <span class="label label-danger">Requis</span>
                            <select class="form-control" id="moisFin[]"
                                    name="moisFin[]">
                                {% for unMois in mois %}
                                    <option value="{% if loop.index < 10 %}0{% endif %}{{ loop.index }}">{{ unMois }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="anneeFin[]">Année de fin</label>
                            <span class="label label-danger">Requis</span>
                            <select class="form-control" id="anneeFin[]"
                                    name="anneeFin[]">
                                {% set ecart = anneeBasse - 60 %}
                                {% for i in ecart..anneeBasse %}
                                    <option {% if i == "now" | date('Y') %}selected="selected" {% endif %} value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="entreprise[]">Entreprise</label>
                            <span class="label label-danger">Requis</span>
                            <input type="text" class="form-control" id="entreprise[]"
                                   name="entreprise[]"
                                   data-validation="custom"
                                   data-validation-regexp="^([a-zA-Z-\séêèëààâäôœöûüùîïç]+)$"
                                   data-validation-error-msg="Veuillez remplir l'entreprise"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="emploi[]">Fonction</label>
                            <span class="label label-danger">Requis</span>
                            <input type="text" class="form-control" id="fonction[]"
                                   name="fonction[]"
                                   data-validation="custom"
                                   data-validation-regexp="^([a-zA-Z-\séêèëààâäôœöûüùîïç]+)$"
                                   data-validation-error-msg="Veuillez remplir votre fonction dans l'entreprise"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
