{% extends 'layout.html.twig' %}

{% block content %}

    <div class="row" style="margin-top: 1em;">
        <div class="col-md-12">
            <h2 class="titre_rubrique">Récapitulatif</h2>
            <div class="alert alert-success">
                <span class='glyphicon glyphicon-saved'></span>
                Votre demande de {{ typeDossier | lower }} a bien été prise en compte / <i>Your application has been taken into account</i>.
                <br/>
                Veuillez conserver votre <b>numéro de dossier</b> : {{ idEtudiant }} / <i>Please, keep your <b>file number</b>: {{ idEtudiant }}</i>.
            </div>
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-warning-sign"></span>
                 Veuillez <b>conserver</b> le dossier de {{ typeDossier | lower }} PDF ci-dessous / <i>Please, keep this PDF file</i>.
                <br/>
                Ce document contient des informations sur les modalités d'inscription et un
                <a href="index.php?uc=formulaire&action=uploadPiecesManquantes&idEtudiant={{ idEtudiant }}&codeFormation={{ codeFormation }}&typeDossier={{ typeDossier | lower }}&idDossierPdf={{ idDossierPdf }}">lien</a> permettant de rajouter des documents que vous auriez oublié à votre dossier de {{ typeDossier | lower }}.
            </div>

            <a href="{{ pathPdf }}.pdf" download class="btn btn-info btn-block">
                <span class="glyphicon glyphicon-cloud-download"></span> Télécharger le dossier de {{ typeDossier | lower }} / <i>Download</i>
            </a>

            <br/><br/>

            <div id="loading" style="text-align: center;"></div>
            <object id="pdfPreview" data="{{ pathPdf }}.pdf" type="application/pdf"
                    width="100%"
                    height="700px">
                <p>Si le PDF ne s'affiche pas, veuillez recharger la page.</p>
            </object>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var confirmOnLeave = function(msg) {
            window.onbeforeunload = function (e) {
                e = e || window.event;
                msg = msg || '';
                // For IE and Firefox
                if (e) {
                    e.returnValue = msg;
                }
                // For Chrome and Safari
                return msg;
            };
        };
        // message de confirmation personnalisé
        confirmOnLeave('Assurez-vous d\'avoir bien enregistré le fichier PDF avant de quitter la page.?');

        $(document).ready(function () {
            $('#pdfPreview').hide();
            $('#loading').append(
                    $('<img/>').attr('src', 'public/img/layout/ajax-loader.gif')
            ).append($('<div/>').text('Veuillez patienter ...'));
            setTimeout(function () {
                $('#loading').fadeOut('fast');
                $('#pdfPreview').fadeIn('slow');
            }, 1000);
        });
    </script>
{% endblock %}
