{% set mois = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"] %}
<div id="blockExperience-{{ indice }}">
    <div class="well well-lg">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="moisDebut-{{ indice }}">Mois de début</label>
                    <span class="label label-danger">Requis</span>
                    <select class="form-control" id="moisDebut-{{ indice }}"
                            name="moisDebut[]">
                        {% for unMois in mois %}
                            <option value="{% if loop.index < 10 %}0{% endif %}{{ loop.index }}">{{ unMois }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="anneeDebut-{{ indice }}">Année de début</label>
                    <span class="label label-danger">Requis</span>
                    <select class="form-control" id="anneeDebut-{{ indice }}"
                            name="anneeDebut[]">
                        {% set ecart = anneeBasse - 60 %}
                        {% for i in ecart..anneeBasse %}
                            <option {% if i == anneeBasse %}selected{% endif %} value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="moisFin-{{ indice }}">Mois de fin</label>
                    <span class="label label-danger">Requis</span>
                    <select class="form-control" id="moisFin-{{ indice }}"
                            name="moisFin[]">
                        {% for unMois in mois %}
                            <option value="{% if loop.index < 10 %}0{% endif %}{{ loop.index }}">{{ unMois }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="anneeFin-{{ indice }}">Année de fin</label>
                    <span class="label label-danger">Requis</span>
                    <select class="form-control" id="anneeFin-{{ indice }}"
                            name="anneeFin[]">
                        {% set ecart = anneeBasse - 60 %}
                        {% for i in ecart..anneeBasse %}
                            <option {% if i == anneeBasse %}selected{% endif %} value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="entreprise-{{ indice }}">Entreprise</label>
                    <span class="label label-danger">Requis</span>
                    <input type="text" class="form-control required" 
                           id="entreprise-{{ indice }}" name="entreprise[]"
                           data-validation="custom"
                           data-validation-regexp="^([0-9a-zA-Z-\'\séêèëààâäôœöûüùîïç]+)$"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="emploi1">Fonction</label>
                    <span class="label label-danger">Requis</span>
                    <input type="text" class="form-control required"
                           id="fonction-{{ indice }}" name="fonction[]"
                           data-validation="custom"
                           data-validation-regexp="^([a-zA-Z-\'\séêèëààâäôœöûüùîïç]+)$"/>
                </div>
            </div>
        </div>
    </div>
</div>
