<root>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="anneeDebutCursus-{{ indice }}">Année de début</label>
            <select class="form-control required"
                    id="anneeDebutCursus-{{ indice }}"
                    name="anneeDebutCursus-{{ indice }}"
                    data-validation="required">
                {% set ecart = anneeBasse - 60 %}
                {% for i in ecart..anneeBasse %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="anneeFinCursus-{{ indice }}">Année de fin</label>
            <select class="form-control required"
                    id="anneeFinCursus-{{ indice }}"
                    name="anneeFinCursus-{{ indice }}" data-validation="required">
                {% set ecart = anneeBasse - 60 %}
                {% for i in ecart..anneeBasse %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="etablissement-{{ indice }}">Etablissement</label>
            <input type="text" class="form-control required"
                   id="etablissement-{{ indice }}"
                   name="etablissement-{{ indice }}" data-validation="required"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="valide-{{ indice }}">Note (résultat) <span class="label label-info">Optionnel</span>
            </label>
            <span class="en">Mark</span>
            <input type="text" class="form-control" id="valide-{{ indice }}" name="valide-{{ indice }}"/>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="cursus-{{ indice }}">Cursus suivi</label> <span class="en">Followed formation</span>
            <input type="text" class="form-control required"
                   id="cursus-{{ indice }}" name="cursus-{{ indice }}"
                   data-validation="required"/>
        </div>
    </div>
</div>
</root>