{% extends 'intranet.html.twig' %}

{% block content %}

    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>ID</th>
            <th>Code</th>
            <th>Libellé</th>
            <th>Explications</th>
            <th>Ordre</th>
            <th>Options</th>
        </tr>
        {% for information in informations %}
            <tr>
                <td>{{ information.id }}</td>
                <td>{{ information.nom }}</td>
                <td>{{ information.code }}</td>
                <td>{{ information.libelle }}</td>
                <td>{{ information.explications }}</td>
                <td>{{ information.ordre }}</td>
                <td><div class="btn-group">
                        <button type="button" class="btn btn-success">Consulter</button>
                        <button type="button" class="btn btn-primary">Modifier</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}