{% extends 'intranet.html.twig' %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
	<li><a href="index.php?uc=formation&action=consulter&code={{ code }}">Fiche formation</a></li>
	<li class="active">Liste des informations</li>
</ol>

<h2 class="titre_rubrique">Liste des informations</h2>

<a href="index.php?uc=information&action=ajouter&code={{ code }}" class="btn btn-lg btn-primary">
	<span class="glyphicon glyphicon-plus-sign"></span> Ajouter une information
</a>

{% if informations is not empty %}

<table style="margin-top: 1em;" class="table table-hover table-bordered table-striped">
	<tr>
		<th>Libellé</th>
		<th>Explications</th>
		<th>Type</th>
		<th>Ordre</th>
		<th>Options</th>
	</tr>
        {% for information in informations %}
	<tr>
		<td>{{ information.libelle }}</td>
		<td>{{ information.explications }}</td>
		<td>{{ information.nom }}</td>
		<td>{{ information.ordre }}</td>
		<td>
			<div class="btn-group">
				<a href="index.php?uc=information&action=consulter&id={{ information.id }}&code={{ code }}" type="button" class="btn btn-info">
					<span class="glyphicon glyphicon-check"></span> Consulter
				</a>
				<a href="index.php?uc=information&action=suppression&id={{ information.id }}&code={{ code }}" type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash"></span> Supprimer
				</a>
			</div>
		</td>
	</tr>
        {% endfor %}
</table>

{% endif %}
<hr />
<a href="index.php?uc=formation&action=consulter&code={{ code }}"  class="btn btn-primary">
	<span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
</a>

{% endblock %}