{% extends 'intranet.html.twig' %}

{% block content %}

<form action="index.php" method="POST">

	<div class="form-group">
		<label for="id">ID</label>
		<input class="form-control" type="text" id="id" name="id" value="{{ information.id }}" />
	</div>
	<div class="form-group">
		<label for="nom">Nom</label>
		<input class="form-control" type="text" id="nom" name="nom" value="{{ information.nom }}" />
	</div>
	<div class="form-group">
		<label for="code">Code</label>
		<input class="form-control" type="text" id="code" name="code" value="{{ information.code }}" />
	</div>

	<div class="form-group">
		<label for="libelle">Libellé</label>
		<input class="form-control" type="text" id="libelle" name="libelle" value="{{ information.libelle }}" />
	</div>
	<div class="form-group">
		<label for="explications">Explications</label>
		<input class="form-control" type="text" id="explications" name="explications" value="{{ information.explications }}" />
	</div>
	<div class="form-group">
		<label for="ordre">Ordre</label>
		<input class="form-control" type="text" id="ordre" name="ordre" value="{{ information.ordre }}" />
	</div>
	<input class="btn btn-primary" type="submit" value="Enregistrer" />
</form>

{% endblock %}

{% block scripts %}

{% endblock %}