{% extends 'intranet.html.twig' %}

{% block content %}

    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>Code étape</th>
            <th>Code VET</th>
            <th>ID</th>
            <th>Libellé information</th>
            <th>Requis</th>
            <th>Id Type élément</th>
            <th>Options</th>
        </tr>
        {% for informationSupp in informationsSupp %}
            <tr>
                <td>{{ informationSupp.codeEtape }}</td>
                <td>{{ informationSupp.codeVet }}</td>
                <td>{{ informationSupp.id }}</td>
                <td>{{ informationSupp.libelInformation }}</td>
                <td>{{ informationSupp.requis }}</td>
                <td>{{ informationSupp.idTypeElement }}</td>
                <td><div class="btn-group">
                        <button type="button" class="btn btn-success">Consulter</button>
                        <button type="button" class="btn btn-primary">Modifier</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Supprimer</button>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}