{% extends 'intranet.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
        <li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
        <li><a href="index.php?uc=formation&action=consulter&code={{ code }}">Fiche formation</a></li>
        <li><a href="index.php?uc=voeu&action=grille&code={{ code }}">Liste des voeux</a></li>
        <li class="active">Ajouter un voeu</li>
    </ol>

    <h2 class="titre_rubrique">Ajouter un voeu</h2>

    <form action="index.php?uc=voeu&action=ajout" method="POST" onsubmit="javascript:return isValid();">
        <input type="hidden" id="code_formation" name="code_formation" value="{{ code }}"/>

        <div class="form-group">
            <label for="code_etape">Code étape</label>
            <input class="form-control" type="text" id="code_etape" name="code_etape" maxlength="6" />
        </div>
        <div class="form-group">
            <label for="etape">Etape</label>
            <input class="form-control" type="text" id="etape" name="etape"/>
        </div>
        {% if villes is not empty %}
            <label>Ville(s)</label>
            {% for ville in villes %}


                <div class="form-group">
                    <label for="ville-{{ loop.index0 }}">{{ ville.nom }}</label>

                    <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" id="ville-{{ loop.index0 }}"
                                       name="ville[]" value="{{ ville.id }}"/>
                            </span>
                        <input type="text" class="form-control" disabled id="responsable-{{ loop.index0 }}"
                               name="responsable[]" placeholder="Nom et prénom du responsable"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" disabled id="mail_responsable-{{ loop.index0 }}"
                               name="mail_responsable[]" placeholder="Adresse mail du responsable"/>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
        </button>
    </form>

    <hr/>

    <a href="index.php?uc=voeu&action=grille&code={{ code }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
    </a>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var ok = false;

        function isValid() {
            return ok;
        }

        $(function () {
            $('input[type="checkbox"]').change(function () {
                var idCb = this.id;
                idCb = idCb.replace('ville-', '');
                if ($(this).is(':checked')) {
                    $('#responsable-' + idCb).removeAttr('disabled').attr('required', 'required');
                    $('#mail_responsable-' + idCb).removeAttr('disabled').attr('required', 'required');
                } else {
                    $('#responsable-' + idCb).attr('disabled', 'disabled').removeAttr('required');
                    $('#mail_responsable-' + idCb).attr('disabled', 'disabled').removeAttr('required').addClass('disabled');
                }
            });
            $('#code_etape').on('input', function () {
                $.ajax({
                    url: 'index.php?uc=voeu&action=codeEtapePossible',
                    type: 'post',
                    data: 'code=' + $('#code_etape').val(),
                    dataType: 'json',
                    success: function (json) {
                        ok = json.response === "1" ? true : false;
                    }
                });
            });
        });
    </script>
{% endblock %}