{% extends 'intranet.html.twig' %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
	<li><a href="index.php?uc=formation&action=consulter&code={{ code }}">Fiche formation</a></li>
	<li><a href="index.php?uc=voeu&action=grille&code={{ code }}">Liste des voeux</a></li>
	<li class="active">Fiche voeu</li>
</ol>

<h2 class="titre_rubrique">Fiche voeu</h2>

<p class="text-muted">Code étape</p>
<p class="text-info">{{ voeu.codeEtape }}</p>
<p class="text-muted">Etape</p>
<p class="text-info">{{ voeu.etape }}</p>
<p class="text-muted">Ville(s)</p>
    {% if villes is not empty %}
        <table class="table table-bordered">
            <tr>
                <th>Ville</th>
                <th>Responsable</th>
                <th>Mail</th>
            </tr>
        {% for ville in villes %}
            {% for seDerouler in lesSeDerouler %}
                {% if ville.id == seDerouler.id %}
                    <tr>
                        <td>{{ ville.nom }}</td>
                        <td>{{ seDerouler.responsable }}</td>
                        <td>
                            <a href="mailto:{{ seDerouler.mailResponsable }}">{{ seDerouler.mailResponsable }}</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>
    {% endif %}
<hr />

<a href="index.php?uc=voeu&action=grille&code={{ code }}"  class="btn btn-primary">
	<span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
</a>
<a href="index.php?uc=voeu&action=modifier&codeetape={{ voeu.codeEtape }}&code={{ code }}" class="btn btn-warning">
	<span class="glyphicon glyphicon-check"></span> Modifier
</a>
<a href="index.php?uc=voeu&action=suppression&codeetape={{ voeu.codeEtape }}&code={{ code }}" class="btn btn-danger">
	<span class="glyphicon glyphicon-trash"></span> Supprimer
</a>

{% endblock %}