{% extends 'intranet.html.twig' %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
	<li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
	<li><a href="index.php?uc=formation&action=consulter&code={{ code }}">Fiche formation</a></li>
	<li><a href="index.php?uc=information&action=grille&code={{ code }}">Liste des voeux</a></li>
	<li class="active">Ajouter un voeu</li>
</ol>

<h2 class="titre_rubrique">Ajouter un voeu</h2>

<form action="index.php?uc=voeu&action=modification" method="POST">
	<input type="hidden" id="code" name="code" value="{{ code }}" />
	<input type="hidden" id="code_etape" name="code_etape" value="{{ voeu.codeetape }}" />
	<div class="form-group">
		<label for="etape">Etape</label>
		<input class="form-control" type="text" id="etape" name="etape" value="{{ voeu.etape }}" />
	</div>
	<div class="form-group">
		<label for="responsable">Responsable</label>
		<input class="form-control" type="text" id="responsable" name="responsable" value="{{ voeu.responsable }}" />
	</div>
	<div class="form-group">
		<label>Ville(s)</label>
		{% if lesvilles is not empty %}
			{% for uneville in lesvilles %}
				<div class="checkbox">
					<label for="ville-{{ uneville.codevet }}">
						<input type="checkbox" id="ville-{{ uneville.codevet }}" name="villes[]" value="{{ uneville.codevet }}" 
						
						{% for ville in voeu.villes %}
						{% if uneville.codevet == ville.codevet %}checked{% endif %} 
						{% endfor %}
						
						/> {{ uneville.nom }}
					</label>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<button class="btn btn-primary" type="submit">
		<span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
	</button>
</form>

<hr />

<a href="index.php?uc=voeu&action=grille&code={{ code }}"  class="btn btn-primary">
	<span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
</a>

{% endblock %}