{% extends 'intranet.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="index.php?uc=intranet&action">Accueil</a></li>
        <li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
        <li><a href="index.php?uc=formation&action=consulter&code={{ code }}">Fiche formation</a></li>
        <li class="active">Liste des dossiers</li>
    </ol>

    <h2 class="titre_rubrique">Gestion des dossiers</h2>

    <button id="btnToggleModalNewEdit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un dossier
    </button>

    <hr/>

    <div class="row">
        <div class="col-md-4">
            <div id="panel-0" class="panel panel-default">
                <div class="panel-heading">Etapes</div>
                <div id="panel-body-0" class="panel-body">
                    {% for voeu in voeux %}
                        {% if voeu.dossierPdf is null %}
                            <div id="{{ voeu.codeEtape }}" class="etape well">{{ voeu.etape }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% for dossierPdf in dossiersPdf %}
            <div class="col-md-4">
                <div id="panel-{{ dossierPdf.id }}" class="panel panel-primary">
                    <div id="panel-heading-{{ dossierPdf.id }}" class="panel-heading">{{ dossierPdf.nom }}</div>
                    <div id="panel-body-{{ dossierPdf.id }}" class="panel-body">
                        {% for voeu in voeux %}
                            {% if voeu.dossierPdf == dossierPdf.id %}
                                <div id="{{ voeu.codeEtape }}" class="etape well">{{ voeu.etape }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="panel-footer">

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Gestion du dossier <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" id="btnModifierDossier-{{ dossierPdf.id }}" class="btnModifierDossier">
                                        <span class="glyphicon glyphicon-edit"></span> Modifier
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="btnSupprimerDossier-{{ dossierPdf.id }}" class="btnSupprimerDossier">
                                        <span class="glyphicon glyphicon-trash"></span> Supprimer
                                    </a>
                                </li>
                                <li>
                                    <a href="index.php?uc=information&action=grille&dossierPdf={{ dossierPdf.id }}">
                                        <span class="glyphicon glyphicon-info-sign"></span> Informations spécifiques
                                    </a>
                                </li>
                                <li>
                                    <a href="index.php?uc=documentSpecifique&action=grille&dossierPdf={{ dossierPdf.id }}">
                                        <span class="glyphicon glyphicon-briefcase"></span> Documents spécifiques
                                    </a>
                                </li>
                                <li>
                                    <a href="index.php?uc=formation&action=dependances&dossierPdf={{ dossierPdf.id }}">
                                        <span class="glyphicon glyphicon-briefcase"></span> Domaines de compatibilité
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr />
    <a class="btn btn-primary" href="index.php?uc=formation&action=consulter&code={{ code }}">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
    </a>

    <div id="modalNewEdit" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Ajouter un dossier</h4>
                </div>
                <div class="modal-body">
                    <form id="formNewEdit" method="post" action="index.php?uc=dossierPdf&action=ajout">
                        <input type="hidden" id="id" name="id" value="0" />
                        <input type="hidden" id="code_formation" name="code_formation" value="{{ code }}" />
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input class="form-control" type="text" id="nom" name="nom" />
                        </div>
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-floppy-save"></span> Enregistrer
                        </button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">Annuler</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="modalConfirmDelete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content panel-danger">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Supprimer un dossier</h4>
                </div>
                <div class="modal-body">
                        <p>Etes-vous sûr(e) de vouloir supprimer le dossier ?</p>
                        <button id="btnSupprimerDossier" class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-trash"></span> Supprimer
                        </button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">Annuler</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="public/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#btnToggleModalNewEdit').click(function() {
                $('#formNewEdit').attr('action', 'index.php?uc=dossierPdf&action=ajout');
                $('#id').attr('value', '0');
                $('#nom').attr('value', '');
                $('#modalNewEdit').modal('show');
                return false;
            });

            $('.btnModifierDossier').click(function() {
                var idDossierPdf = this.id.replace('btnModifierDossier-', '');
                $.ajax({
                    url: 'index.php?uc=dossierPdf&action=consulter',
                    type: 'post',
                    data: 'idDossierPdf=' + idDossierPdf,
                    dataType: 'json',
                    success: function (json) {
                        $('#formNewEdit').attr('action', 'index.php?uc=dossierPdf&action=modification');
                        $('#id').attr('value', json.dossierPdf.id);
                        $('#nom').attr('value', json.dossierPdf.nom);
                        $('#modalNewEdit').modal('show');
                    }
                });
                return false;
            });


            var lastBtnSupprimerPushed = null;
            $('.btnSupprimerDossier').click(function() {
                lastBtnSupprimerPushed = $(this);
                $('#btnSupprimerDossier').click(function() {
                    var id = lastBtnSupprimerPushed.attr('id');
                    id = id.replace('btnSupprimerDossier-', '');
                    location.href = 'index.php?uc=dossierPdf&action=suppression&idDossier=' + id;
                });
                $('#modalConfirmDelete').modal('show');
                return false;
            });


            $(".etape").draggable({zIndex: 99999999999, revert: 'invalid'});
            $(".panel-body").droppable({
                hoverClass: "droppable-info",
                drop: function (event, ui) {
                    var drag = $(ui.draggable[0]);
                    var dossierPdf = $(this).attr("id");
                    dossierPdf = dossierPdf.replace("panel-body-", "");
                    $(drag).remove();

                    $.ajax({
                        url: 'index.php?uc=voeu&action=deplacerVoeuDansDossier',
                        type: 'post',
                        data: 'dossierPdf=' + dossierPdf + '&etape=' + $(drag).attr("id") ,
                        dataType: 'json',
                        success: function (json) {
                            if (json.response === true) {
                                //alert("ok");
                            }
                        }
                    });

                    $(this).append($('<div></div>').addClass('etape').addClass('well').draggable({revert: 'invalid'}).html(drag.html()));
                }
            });
        });
    </script>
{% endblock %}

