{% extends 'intranet.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="index.php?uc=intranet&action">Accueil</a></li>
        <li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
        <li><a href="index.php?uc=formation&action=consulter&code={{ code }}">Fiche formation</a></li>
        <li class="active">Gestion des dossiers</li>
    </ol>

    <h2 class="titre_rubrique">Gestion des dossiers</h2>

    <button id="btnDisplayFormNew" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un dossier
    </button>

    <hr/>

    <div class="row">
        <div class="col-md-4">
            <div id="panel-0" class="panel panel-default">
                <div class="panel-heading">Etapes</div>
                <div id="panel-body-0" class="panel-body">
                    {% for voeu in voeux %}
                        {% if voeu.dossierPdf is null %}
                            <div id="{{ voeu.codeEtape }}" class="etape well">{{ voeu.etape }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% for dossierPdf in dossiersPdf %}
            <div class="col-md-4">
                <div id="panel-{{ dossierPdf.id }}" class="panel panel-primary">
                    <div id="panel-heading-{{ dossierPdf.id }}" class="panel-heading">{{ dossierPdf.nom }}</div>
                    <div id="panel-body-{{ dossierPdf.id }}" class="panel-body">
                        {% for voeu in voeux %}
                            {% if voeu.dossierPdf == dossierPdf.id %}
                                <div id="{{ voeu.codeEtape }}" class="etape well">{{ voeu.etape }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <button id="btnModifierDossier-{{ dossierPdf.id }}" class="btn btn-xs btn-warning btnModifierDossier">
                            <span class="glyphicon glyphicon-edit"></span> Modifier
                        </button>
                        <button id="btnSupprimerDossier-{{ dossierPdf.id }}" class="btn btn-xs btn-danger btnSupprimerDossier">
                            <span class="glyphicon glyphicon-trash"></span> Supprimer
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Gestion du dossier <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a class="btn btn-default" href="index.php?uc=information&action=grille&dossierPdf={{ dossierPdf.id }}">
                                        <span class="glyphicon glyphicon-info-sign"></span> Informations spécifiques
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn-default" href="index.php?uc=documentSpecifique&action=grille&dossierPdf={{ dossierPdf.id }}">
                                        <span class="glyphicon glyphicon-info-sign"></span> Documents spécifiques
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Ajouter un dossier</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="public/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#btnDisplayFormNew").click(function() {
                $('.modal-body').html('');
                var form = $('<form></form>')
                        .attr('method', 'post')
                        .attr('action', 'index.php?uc=formation&action=ajouterDossier');
                var hidden = $('<input />')
                        .attr('type', 'hidden')
                        .attr('id', 'code_formation')
                        .attr('name', 'code_formation')
                        .attr('value', '{{ code }}');
                var formGroup = $('<div></div>').addClass('form-group');
                var label = $('<label></label>').html('Nom');
                var input = $('<input />')
                        .addClass('form-control')
                        .attr('type', 'text')
                        .attr('id', 'nom')
                        .attr('name', 'nom');
                var span = $('<span></span>')
                        .addClass('glyphicon')
                        .addClass('glyphicon-floppy-save');
                var submit = $('<button></button>')
                        .attr('type', 'submit')
                        .addClass('btn')
                        .addClass('btn-primary');
                var button = $('<button></button>')
                        .attr('type', 'button')
                        .attr('data-dismiss', 'modal')
                        .addClass('btn')
                        .addClass('btn-default')
                        .html('Annuler');
                formGroup.append(label).append(input);
                submit.html(' Enregistrer');
                form.append(hidden)
                        .append(formGroup)
                        .append(submit)
                        .append(button);
                $('.modal-body').append(form);
                $('#myModal').modal('show');
            });

            $('.btnModifierDossier').click(function() {
                var id = $(this).attr('id');
                id = id.replace('btnModifierDossier-', '');

                $('.modal-body').html('');
                var form = $('<form></form>')
                        .attr('method', 'post')
                        .attr('action', 'index.php?uc=formation&action=modificationDossier');
                var hiddenFormation = $('<input />')
                        .attr('type', 'hidden')
                        .attr('id', 'code_formation')
                        .attr('name', 'code_formation')
                        .attr('value', '{{ code }}');
                var hiddenIdDossier = $('<input />')
                        .attr('type', 'hidden')
                        .attr('id', 'id')
                        .attr('name', 'id')
                        .attr('value', id);
                var formGroup = $('<div></div>').addClass('form-group');
                var label = $('<label></label>').html('Nom');
                var input = $('<input />')
                        .addClass('form-control')
                        .attr('type', 'text')
                        .attr('id', 'nom')
                        .attr('name', 'nom')
                        .val($('#panel-heading-' + id).html());
                var span = $('<span></span>')
                        .addClass('glyphicon')
                        .addClass('glyphicon-floppy-save');
                var submit = $('<button></button>')
                        .attr('type', 'submit')
                        .addClass('btn')
                        .addClass('btn-primary');
                var button = $('<button></button>')
                        .attr('type', 'button')
                        .attr('data-dismiss', 'modal')
                        .addClass('btn')
                        .addClass('btn-default')
                        .html('Annuler');
                formGroup.append(label).append(input);
                submit.html('Enregistrer');
                form.append(hiddenFormation)
                        .append(hiddenIdDossier)
                        .append(formGroup)
                        .append(submit)
                        .append(button);
                $('.modal-body').append(form);
                $('#myModal').modal('show');
            });
            var lastBtnSupprimerPushed = null;
            $('.btnSupprimerDossier').click(function() {

                lastBtnSupprimerPushed = $(this);
                console.log(lastBtnSupprimerPushed);
                $('.modal-body').html('');

                var buttonOk = $('<button></button>')
                        .attr('type', 'button')
                        .addClass('btn')
                        .addClass('btn-primary')
                        .html('Ok').click(function() {
                    var id = lastBtnSupprimerPushed.attr('id');
                    id = id.replace('btnSupprimerDossier-', '');
                    location.href = 'index.php?uc=formation&action=supprimerDossier&idDossier=' + id;
                });
                var buttonCancel = $('<button></button>')
                        .attr('type', 'button')
                        .attr('data-dismiss', 'modal')
                        .addClass('btn')
                        .addClass('btn-default')
                        .html('Annuler');
                $('.modal-body').html('Voulez-vous vraiment supprimer ce dossier ?')
                        .append(buttonOk)
                        .append(buttonCancel);
                $('#myModal').modal('show');
                return false;
            });


            $(".etape").draggable({zIndex: 99999999999, revert: 'invalid'});
            $(".panel-body").droppable({
                hoverClass: "droppable-info",
                drop: function (event, ui) {
                    var drag = $(ui.draggable[0]);
                    var dossierPdf = $(this).attr("id");
                    dossierPdf = dossierPdf.replace("panel-body-", "");
                    $(drag).remove();

                    $.ajax({
                        url: 'index.php?uc=voeu&action=deplacerVoeuDansDossier',
                        type: 'post',
                        data: 'dossierPdf=' + dossierPdf + '&etape=' + $(drag).attr("id") ,
                        dataType: 'json',
                        success: function (json) {
                            if (json.response === true) {
                                //alert("ok");
                            }
                        }
                    });

                    $(this).append($('<div></div>').addClass('etape').addClass('well').draggable({revert: 'invalid'}).html(drag.html()));
                }
            });
        });
    </script>
{% endblock %}

