{% extends 'intranet.html.twig' %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="index.php?uc=intranet&action=accueil">Accueil</a></li>
        <li><a href="index.php?uc=formation&action=grille">Liste des formations</a></li>
        <li><a href="index.php?uc=formation&action=consulter&code={{ dossierPdf.codeFormation }}">Fiche formation</a>
        </li>
        <li><a href="index.php?uc=dossierPdf&action=grille&code={{ dossierPdf.codeFormation }}">Liste des dossiers</a>
        </li>
        <li class="active">Dates limites</li>
    </ol>

    <h2 class="titre_rubrique">Date limite pour le dossier {{ dossierPdf.nom }}</h2>

    <form method="post" action="index.php?uc=dateLimite&action=modification">
        <input type="hidden" id="dossier_pdf" name="dossier_pdf" value="{{ dossierPdf.id }}" />

        <div class="row">
            <div class="col-md-6">
                <h3 class="titre_rubrique">Candidature</h3>
            </div>
            <div class="col-md-6">
                <h3 class="titre_rubrique">Préinscription</h3>
            </div>
        </div>

        {% for titulaire in titulaires %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ titulaire.libelle }}</label>
                        <div class="input-group date">
                            <input class="form-control " type="text" id="date_limite_{{ titulaire.id }}_ca" name="date_limite_{{ titulaire.id }}_ca"
                                {% for dateLimite in datesLimites %}
                                    {% if dateLimite.titulaire == titulaire.id %}
                                        value="{{ dateLimite.dateCandidature|date("m/d/Y") }}"
                                    {% endif %}
                                {% endfor %}
                            /><span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ titulaire.libelle }}</label>
                        <div class="input-group date">
                            <input class="form-control " type="text" id="date_limite_{{ titulaire.id }}_pi" name="date_limite_{{ titulaire.id }}_pi"
                                    {% for dateLimite in datesLimites %}
                                        {% if dateLimite.titulaire == titulaire.id %}
                                            value="{{ dateLimite.datePreinscription|date("m/d/Y") }}"
                                        {% endif %}
                                    {% endfor %}
                                    /><span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-save"></span> Enregistrer
        </button>
    </form>

    <hr/>

    <a href="index.php?uc=dossierPdf&action=grille&code={{ dossierPdf.codeFormation }}" class="btn btn-primary">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Précédent
    </a>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="public/js/datepicker/bootstrap-datepicker.js"></script>
    <script>
        $(function(){
            $(".form-control").datepicker({
                language: "fr",
                autoclose: true,
                todayHighlight: true,
                startView: 2,
                keyboardNavigation: false
            });
        });
    </script>
{% endblock %}
