{% extends 'formCandidat.html.twig' %}

{% block formContent %}
<fieldset>
    <legend>Cursus antérieur</legend>

    <h4>1. Cursus post-bac</h4>
    <div class="form-group">
        {% for i in 1..5 %}
            <div class="row">
                <div class="col-md-3">
                    <label for="anne{{ i }}">Année</label>
                    <input type="text" class="form-control" id="anne{{ i }}" name="anne{{ i }}" placeholder="Ex : 2013/2014 " />
                </div>
                <div class="col-md-3">
                    <label for="etablissement{{ i }}">Etablissement</label>
                    <input type="text" class="form-control" id="etablissement{{ i }}" name="etablissement{{ i }}" placeholder="Etablissement fréquenté" />
                </div>
                <div class="col-md-3">
                    <label for="cursus{{ i }}">Cursus suivi</label>
                    <input type="text" class="form-control" id="cursus{{ i }}" name="cursus{{ i }}" placeholder="Votre cursus" />
                </div>
                <div class="col-md-3">
                    <label for="note{{ i }}">Note/Mention</label>
                    <input type="text" class="form-control" id="note{{ i }}" name="note{{ i }}" placeholder="Votre note/mention" />
                </div>
            </div>
        {% endfor %}
    </div>

    <br />
    <h4>2. Expérience professionnelle (emplois, stages)</h4>
    <div class="form-group">
        {% for i in 1..3 %}
            <div class="row">
                <div class="col-md-2">
                    <label for="periode{{ i }}">Période</label>
                    <input type="text" class="form-control" id="periode{{ i }}" name="periode{{ i }}" placeholder="Ex : 01/01/13 au 01/02/13 " />
                </div>
                <div class="col-md-4">
                    <label for="entreprise{{ i }}">Entreprise</label>
                    <input type="text" class="form-control" id="entreprise{{ i }}" name="entreprise{{ i }}" placeholder="Entreprise fréquenté" />
                </div>
                <div class="col-md-4">
                    <label for="emploi{{ i }}">Emploi occupé</label>
                    <input type="text" class="form-control" id="emploi{{ i }}" name="emploi{{ i }}" placeholder="Votre poste" />
                </div>
                <div class="col-md-2">
                    <label for="duree{{ i }}">Durée</label>
                    <input type="text" class="form-control" id="duree{{ i }}" name="duree{{ i }}" placeholder="Durée" />
                </div>
            </div>
        {% endfor %}
    </div>


</fieldset>
{% endblock %}